pkgbase = archwizard
	pkgdesc = A simple setup wizard for Arch Linux
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/KasishStar/ArchWizard
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python
	source = archwizard-0.1.2.tar.gz::https://github.com/KasishStar/ArchWizard/archive/refs/tags/v0.1.2.tar.gz
	sha256sums = 6ae0c25acebf72a25c4d2e06097a26b5174cd76897d59de3c0196c6cc3a89666

pkgname = archwizard
